
main {
  height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.glass {
  min-height: 80vh;
  width: 60%;
  background: white;
  background: 
    linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}
.circle1, .circle2 {
  background: white;
  background: 
    linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3));
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
  
}
.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}
.user{
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    // object-position: 10% 10%;
    border-radius: 50%;

  }
}
.link{
  img {
    width: 20px;
  }
}
.pro{
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  min-width: 50%;
  min-height: 15%;
  img {
    width: 20px;
  }
}
.card{
  img {
    width: 20px;
  }
}

.dashbord {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: 
    linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}
.user {
}
.links {
}
.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 2rem;
  align-items: center;
  p {
    padding: 0rem 2rem;
  }
}
.pro {
}
.games {
  flex: 2;
}
.status {
  
}
.cards {
}
.card {
}
.card-info {
}
.progress {
}
.percentage {
}
