@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

html {
  font-size: 16px;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 2rem;
  opacity: 0.8;
}
h2 {
  font-family: 'Londrina Outline', cursive;
  font-size: 3rem;
  display: block;
  width: 100%;
  text-align: center;
  padding-bottom: 0.5rem;
  // text-decoration: underline;
  
}
p {
  font-size: 0.6rem;
}
h2, p, a {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}
h3 {
  color: #426696;
  font-weight: 600;
  font-size: 2rem;
  opacity: 0.8;
}
main {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.glass {
  min-height: 80vh;
  min-width: 65%;
  background: white;
  background: 
    linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3));
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  margin: 1rem;
}
.circle1, .circle2 {
  background: white;
  background: 
    linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3));
  height: 20rem;
  width: 20rem;
  position: absolute;
  border-radius: 50%;
  
}
.circle1 {
  top: 4%;
  right: 10%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}

.skills, .tools {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  min-width: 100%;
  min-height: 15%;
  border-radius: 1rem;
  padding: 1rem;
  opacity: 0.8;
  box-shadow: 6px 6px 10px 3px rgba(122, 122, 122, 0.3);
  transition: all 0.3s;
  // transform-origin: 0 0;
  // box-shadow: 6px 6px 10px 3px rgb(122 122 122 / 30%);
  h2 {
    color: white;
  }
  &:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }
}

.user{
  img {
    width: 110px;
    // height: 120px;
    object-fit: cover;
    // object-position: 10% 10%;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
    opacity: 0.9;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.4);
      transition: all 0.3s;
    }

  }
}

.pro{
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  min-width: 100%;
  min-height: 15%;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  opacity: 0.8;
  box-shadow: 6px 6px 10px 3px rgba(122, 122, 122, 0.3);
  transition: all 0.3s;
  // transform-origin: 0 0;
  img {
    width: 20px;
  }
  h2 {
    color: white;
    font-weight: 600;
  }
  &:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }
}
// .card{
//   img {
//     width: 20px;
//     height: 40px;
//   }
// }

.dashbord {
  // flex: 1;
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  // text-align: center;
  box-shadow: 6px 6px 10px 3px rgba(122, 122, 122, 0.3);
  background: 
    linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}
.link {
  display: flex;
  // margin: 2rem 0rem;
  // padding: 1rem 2rem;
  align-items: center;
  p {
    padding: 0rem 1rem;
  }
  img {
    width: 20px;
  }
}

.main-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
}
.status {
  // margin-bottom: 3rem;
  display: flex;
  justify-content: space-evenly;
  input {
    background: 
      linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3));
    width: 50%;
    padding: 0.2rem;
    border-radius: 2rem;
    margin-top: 1rem;

  }
  
}
.card {
  display: flex;
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
  border-radius: 1rem;
  margin: 0.5rem 0rem;
  padding: 1rem;
  box-shadow: 6px 6px 10px 3px rgba(122, 122, 122, 0.3);
  justify-content: space-between;
  transition: all 0.3s;
  transform-origin: right top;
  // &:hover {
  //   transform: scale(1.1);
  //   transition: all 0.3s;
  // }
  // h2 {
  //   display: block;
  //   width: 100%;
  //   text-align: center;
  //   padding-bottom: 0.5rem;
  //   text-decoration: underline;
  // }
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.progress {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 100%;
  height: 25%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 60%;
  }
}
.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.expierense, .education, .others {
  display: block;
  width: 100%;
}
.info {
  transition: all 0.3s;
  &:hover {
    transform: scale(1.1);
    transition: all 0.3s;
  }
  // transform: translate(50px 50px) scale(1.2) rotate(45deg);
}
.expierense {
  position: relative;
  .imgBx {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    backdrop-filter: blur(20px);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    transition: 0.5s ease-in-out;
  }
  &:hover .imgBx {
    height: 50%;
    width: 35%;
    left: -20%;
    top: 25%;
  };
}